<!DOCTYPE html>
<html lang="en">
<script>console.log("Restaurant_id is" + restaurant)</script>

<head>
    <meta charset="UTF-8">
    <title>Cart</title>
</head>
<body>
    <h1>Items in your cart:</h1>

    <ul>

        {% for item in cart_items %}
            <li>
                <h3>{{ item.item_description }} - {{ item.item_price }}</h3>
            </li>
        {% endfor %}
    </ul>

    <h3>Total Price: {{ total_price }}</h3>





<a href="/payment/{{ customer_id }}/{{ restaurant_id }}"><button>Continue to Checkout</button></a>
</body>
</html>