<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<body>
    <h1>{{ restaurant.name }}</h1>
    <p>Address: {{ restaurant.address }}</p>
    <p>City: {{ restaurant.city }}</p>
    <p>Phone: {{ restaurant.phone_number }}</p>
    <br><hr>

        <div class="row">
            <div class="col-md-6">
                <h1>MENU</h1>
                <h2>Food categories:</h2>
                <ul>
                    {% for category in categories %}
                    <p><li>{{ category.category | replace("('", "") | replace("',)", "") }}</li></p>
                    {% endfor %}
                </ul>

                <h2>Menu items:</h2>
                <ul>
                    {% for item in items %}
                    <p><li>
                        {{ item.description }} - {{ item.price }}
                        <form action="/add_to_cart/{{ customer_id }}/{{ restaurant.id }}/{{ item.id }}" method="post">
                            <input type="submit" value="Add">
                        </form>
                    </li></p>
                    {% endfor %}
                </ul>
                </div>
                <div class="col-md-6">
                    <h3>Your cart from {{ restaurant.name }}: </h3>
                    <ul>
                        {% for item in cart_items %}
                        <p><li>
                            {{ item.item_description }} - {{ item.item_price }}
                            <form action="{{ url_for('remove_from_cart', customer_id=customer_id, restaurant_id=restaurant.id, item_unique_id=item.item_unique_id) }}" method="post">
                                <input type="submit" value="Remove">
                            </form>                            
                        </li></p>
                        {% endfor %}
                    </ul>
                    <div class="row">
                        <div class="col-md-6">
                            <a href="/restaurant/back/{{ customer_id }}" method="post"><button><--Go back</button></a>
                        </div>

                        <div class="col-md-6">
                            <a href="/cart/{{ customer_id }}/{{ restaurant.id }}" method="post"><button>Continue to cart--></button></a>
                        </div>
                </div>
            </div>
        </div>


</body>
</html>